<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../styles/style.css">
        <link href="https://fonts.bunny.net/css2?family=Bahianita&family=Nunito&display=swap" rel="stylesheet">
        <link href="https://fonts.bunny.net/css?family=Fira+Sans:800&display=swap" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <meta charset="UTF-8">
        <meta name="description" content="Website showcasing some poetry">
        <meta name="keywords" content="poetry, grief">
        <meta name="author" content="ArcticAxi">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SETTITLE &#149; ArcticAxi</title>
    </head>
    <body>
        <div id="site">
            <header class="header">
                <a class="brand" href="../index.html">
                    <p class="header_text">Arctic Axi</p>
                </a>
            </header>
            <nav class="nav" id="navbar">
                <div class="nav-center">
                    <a href="../index.html" id="nav_home">Home</a>
                    <a href="/pages/poetry.html" id="nav_poetry">Poetry</a>
                    <a href="/pages/about.html" id="nav_about">About</a>
                </div>
            </nav>

            <main class="main_text" id="main_body">
            </main>
        
            <footer class="footer">
                <div class="copyright">
                    <p> &#169; 2024 - ArcticAxi </p>
                </div>
            </footer>
        </div>
    </body>
</html>
                    